In [1]:
from pymongo import MongoClient

In [2]:
db_name = 'TheDonald'
db_collection = 'tweets'
mongo_url='mongodb://192.168.0.26:27017/'

In [3]:
client = MongoClient(mongo_url)
db = client[db_name]
collection = db.get_collection(db_collection)

In [50]:
 db.BusinessProcess.aggregate({
    "$group": {
        _id: {
            status: "$status",
            type: "$type"
        },
        count: {
            $sum: 1
        }
    }
   })

SyntaxError: invalid syntax (<ipython-input-50-9c6437e2c341>, line 8)

In [55]:
result = collection.aggregate([{
    '$group': {
        '_id' : {
            'tweet_id' : '$tweet_id'
        },
        'count' : {
            '$sum' : 1
        }
    }
    
}])

for item in result:
    print (item)
    #break

{'_id': {'tweet_id': '6.22E+17'}, 'count': 88}
{'_id': {'tweet_id': '6.24E+17'}, 'count': 103}
{'_id': {'tweet_id': '6.27E+17'}, 'count': 47}
{'_id': {'tweet_id': '6.28E+17'}, 'count': 63}
{'_id': {'tweet_id': '6.29E+17'}, 'count': 61}
{'_id': {'tweet_id': '6.31E+17'}, 'count': 35}
{'_id': {'tweet_id': '6.34E+17'}, 'count': 27}
{'_id': {'tweet_id': '6.35E+17'}, 'count': 30}
{'_id': {'tweet_id': '6.36E+17'}, 'count': 52}
{'_id': {'tweet_id': '6.37E+17'}, 'count': 28}
{'_id': {'tweet_id': '6.38E+17'}, 'count': 15}
{'_id': {'tweet_id': '6.39E+17'}, 'count': 36}
{'_id': {'tweet_id': '6.40E+17'}, 'count': 27}
{'_id': {'tweet_id': '6.45E+17'}, 'count': 23}
{'_id': {'tweet_id': '6.47E+17'}, 'count': 40}
{'_id': {'tweet_id': '6.51E+17'}, 'count': 70}
{'_id': {'tweet_id': '6.52E+17'}, 'count': 65}
{'_id': {'tweet_id': '6.43E+17'}, 'count': 53}
{'_id': {'tweet_id': '6.54E+17'}, 'count': 128}
{'_id': {'tweet_id': '6.56E+17'}, 'count': 94}
{'_id': {'tweet_id': '6.59E+17'}, 'count': 49}
{'_id': {'tweet_id': '6.60E+17'}, 'count': 100}
{'_id': {'tweet_id': '6.61E+17'}, 'count': 74}
{'_id': {'tweet_id': '6.63E+17'}, 'count': 98}
{'_id': {'tweet_id': '6.65E+17'}, 'count': 41}
{'_id': {'tweet_id': '6.44E+17'}, 'count': 36}
{'_id': {'tweet_id': '6.66E+17'}, 'count': 59}
{'_id': {'tweet_id': '6.67E+17'}, 'count': 36}
{'_id': {'tweet_id': '6.68E+17'}, 'count': 94}
{'_id': {'tweet_id': '6.42E+17'}, 'count': 21}
{'_id': {'tweet_id': '6.70E+17'}, 'count': 36}
{'_id': {'tweet_id': '6.33E+17'}, 'count': 31}
{'_id': {'tweet_id': '6.71E+17'}, 'count': 47}
{'_id': {'tweet_id': '6.30E+17'}, 'count': 83}
{'_id': {'tweet_id': '6.72E+17'}, 'count': 65}
{'_id': {'tweet_id': '6.26E+17'}, 'count': 92}
{'_id': {'tweet_id': '6.73E+17'}, 'count': 48}
{'_id': {'tweet_id': '6.75E+17'}, 'count': 65}
{'_id': {'tweet_id': '6.76E+17'}, 'count': 71}
{'_id': {'tweet_id': '6.78E+17'}, 'count': 26}
{'_id': {'tweet_id': '6.79E+17'}, 'count': 46}
{'_id': {'tweet_id': '6.81E+17'}, 'count': 25}
{'_id': {'tweet_id': '6.83E+17'}, 'count': 43}
{'_id': {'tweet_id': '6.85E+17'}, 'count': 40}
{'_id': {'tweet_id': '6.25E+17'}, 'count': 105}
{'_id': {'tweet_id': '6.86E+17'}, 'count': 33}
{'_id': {'tweet_id': '6.87E+17'}, 'count': 39}
{'_id': {'tweet_id': '6.88E+17'}, 'count': 39}
{'_id': {'tweet_id': '6.92E+17'}, 'count': 59}
{'_id': {'tweet_id': '6.93E+17'}, 'count': 67}
{'_id': {'tweet_id': '6.96E+17'}, 'count': 55}
{'_id': {'tweet_id': '6.69E+17'}, 'count': 48}
{'_id': {'tweet_id': '6.95E+17'}, 'count': 42}
{'_id': {'tweet_id': '6.97E+17'}, 'count': 37}
{'_id': {'tweet_id': '6.98E+17'}, 'count': 39}
{'_id': {'tweet_id': '7.00E+17'}, 'count': 49}
{'_id': {'tweet_id': '7.01E+17'}, 'count': 44}
{'_id': {'tweet_id': '7.54E+17'}, 'count': 16}
{'_id': {'tweet_id': '6.32E+17'}, 'count': 15}
{'_id': {'tweet_id': '7.56E+17'}, 'count': 34}
{'_id': {'tweet_id': '7.55E+17'}, 'count': 27}
{'_id': {'tweet_id': '7.60E+17'}, 'count': 40}
{'_id': {'tweet_id': '7.47E+17'}, 'count': 28}
{'_id': {'tweet_id': '6.50E+17'}, 'count': 50}
{'_id': {'tweet_id': '7.62E+17'}, 'count': 23}
{'_id': {'tweet_id': '6.49E+17'}, 'count': 38}
{'_id': {'tweet_id': '6.84E+17'}, 'count': 42}
{'_id': {'tweet_id': '7.25E+17'}, 'count': 37}
{'_id': {'tweet_id': '7.57E+17'}, 'count': 35}
{'_id': {'tweet_id': '6.80E+17'}, 'count': 16}
{'_id': {'tweet_id': '7.64E+17'}, 'count': 19}
{'_id': {'tweet_id': '7.65E+17'}, 'count': 20}
{'_id': {'tweet_id': '6.41E+17'}, 'count': 51}
{'_id': {'tweet_id': '7.66E+17'}, 'count': 19}
{'_id': {'tweet_id': '6.48E+17'}, 'count': 34}
{'_id': {'tweet_id': '7.14E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.63E+17'}, 'count': 35}
{'_id': {'tweet_id': '7.13E+17'}, 'count': 37}
{'_id': {'tweet_id': '7.53E+17'}, 'count': 33}
{'_id': {'tweet_id': '7.42E+17'}, 'count': 30}
{'_id': {'tweet_id': '7.51E+17'}, 'count': 25}
{'_id': {'tweet_id': '7.83E+17'}, 'count': 67}
{'_id': {'tweet_id': '6.55E+17'}, 'count': 44}
{'_id': {'tweet_id': '7.04E+17'}, 'count': 58}
{'_id': {'tweet_id': '7.72E+17'}, 'count': 14}
{'_id': {'tweet_id': '7.27E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.31E+17'}, 'count': 9}
{'_id': {'tweet_id': '6.46E+17'}, 'count': 89}
{'_id': {'tweet_id': '7.78E+17'}, 'count': 25}
{'_id': {'tweet_id': '7.89E+17'}, 'count': 108}
{'_id': {'tweet_id': '7.24E+17'}, 'count': 24}
{'_id': {'tweet_id': '7.15E+17'}, 'count': 30}
{'_id': {'tweet_id': '6.90E+17'}, 'count': 43}
{'_id': {'tweet_id': '7.52E+17'}, 'count': 9}
{'_id': {'tweet_id': '6.58E+17'}, 'count': 75}
{'_id': {'tweet_id': '7.86E+17'}, 'count': 31}
{'_id': {'tweet_id': '7.80E+17'}, 'count': 16}
{'_id': {'tweet_id': '7.26E+17'}, 'count': 28}
{'_id': {'tweet_id': '7.84E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.32E+17'}, 'count': 36}
{'_id': {'tweet_id': '6.77E+17'}, 'count': 66}
{'_id': {'tweet_id': '7.12E+17'}, 'count': 30}
{'_id': {'tweet_id': '7.90E+17'}, 'count': 42}
{'_id': {'tweet_id': '6.53E+17'}, 'count': 49}
{'_id': {'tweet_id': '6.57E+17'}, 'count': 55}
{'_id': {'tweet_id': '6.82E+17'}, 'count': 48}
{'_id': {'tweet_id': '7.92E+17'}, 'count': 38}
{'_id': {'tweet_id': '7.59E+17'}, 'count': 60}
{'_id': {'tweet_id': '7.85E+17'}, 'count': 74}
{'_id': {'tweet_id': '7.79E+17'}, 'count': 18}
{'_id': {'tweet_id': '7.74E+17'}, 'count': 32}
{'_id': {'tweet_id': '7.94E+17'}, 'count': 34}
{'_id': {'tweet_id': '7.93E+17'}, 'count': 22}
{'_id': {'tweet_id': '7.36E+17'}, 'count': 20}
{'_id': {'tweet_id': '7.97E+17'}, 'count': 6}
{'_id': {'tweet_id': '7.45E+17'}, 'count': 19}
{'_id': {'tweet_id': '7.69E+17'}, 'count': 33}
{'_id': {'tweet_id': '7.87E+17'}, 'count': 31}
{'_id': {'tweet_id': '7.96E+17'}, 'count': 31}
{'_id': {'tweet_id': '7.16E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.03E+17'}, 'count': 71}
{'_id': {'tweet_id': '7.29E+17'}, 'count': 29}
{'_id': {'tweet_id': '7.75E+17'}, 'count': 14}
{'_id': {'tweet_id': '6.62E+17'}, 'count': 51}
{'_id': {'tweet_id': '6.99E+17'}, 'count': 55}
{'_id': {'tweet_id': '7.68E+17'}, 'count': 28}
{'_id': {'tweet_id': '7.22E+17'}, 'count': 23}
{'_id': {'tweet_id': '6.74E+17'}, 'count': 87}
{'_id': {'tweet_id': '7.88E+17'}, 'count': 52}
{'_id': {'tweet_id': '7.34E+17'}, 'count': 36}
{'_id': {'tweet_id': '7.61E+17'}, 'count': 25}
{'_id': {'tweet_id': '7.35E+17'}, 'count': 31}
{'_id': {'tweet_id': '7.08E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.82E+17'}, 'count': 22}
{'_id': {'tweet_id': '7.76E+17'}, 'count': 30}
{'_id': {'tweet_id': '7.05E+17'}, 'count': 52}
{'_id': {'tweet_id': '7.81E+17'}, 'count': 66}
{'_id': {'tweet_id': '7.77E+17'}, 'count': 25}
{'_id': {'tweet_id': '7.49E+17'}, 'count': 33}
{'_id': {'tweet_id': '7.09E+17'}, 'count': 34}
{'_id': {'tweet_id': '7.50E+17'}, 'count': 27}
{'_id': {'tweet_id': '7.48E+17'}, 'count': 23}
{'_id': {'tweet_id': '6.21E+17'}, 'count': 1}
{'_id': {'tweet_id': '7.33E+17'}, 'count': 64}
{'_id': {'tweet_id': '7.46E+17'}, 'count': 35}
{'_id': {'tweet_id': '7.44E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.40E+17'}, 'count': 4}
{'_id': {'tweet_id': '7.43E+17'}, 'count': 20}
{'_id': {'tweet_id': '7.41E+17'}, 'count': 9}
{'_id': {'tweet_id': '7.67E+17'}, 'count': 18}
{'_id': {'tweet_id': '7.71E+17'}, 'count': 24}
{'_id': {'tweet_id': '7.73E+17'}, 'count': 29}
{'_id': {'tweet_id': '7.38E+17'}, 'count': 34}
{'_id': {'tweet_id': '6.94E+17'}, 'count': 29}
{'_id': {'tweet_id': '7.37E+17'}, 'count': 27}
{'_id': {'tweet_id': '7.20E+17'}, 'count': 23}
{'_id': {'tweet_id': '7.19E+17'}, 'count': 39}
{'_id': {'tweet_id': '6.89E+17'}, 'count': 26}
{'_id': {'tweet_id': '7.70E+17'}, 'count': 29}
{'_id': {'tweet_id': '7.30E+17'}, 'count': 49}
{'_id': {'tweet_id': '7.28E+17'}, 'count': 23}
{'_id': {'tweet_id': '7.23E+17'}, 'count': 24}
{'_id': {'tweet_id': '6.64E+17'}, 'count': 43}
{'_id': {'tweet_id': '7.21E+17'}, 'count': 20}
{'_id': {'tweet_id': '7.39E+17'}, 'count': 30}
{'_id': {'tweet_id': '7.18E+17'}, 'count': 14}
{'_id': {'tweet_id': '6.23E+17'}, 'count': 99}
{'_id': {'tweet_id': '7.07E+17'}, 'count': 56}
{'_id': {'tweet_id': '7.17E+17'}, 'count': 32}
{'_id': {'tweet_id': '6.91E+17'}, 'count': 75}
{'_id': {'tweet_id': '7.11E+17'}, 'count': 55}
{'_id': {'tweet_id': '7.95E+17'}, 'count': 34}
{'_id': {'tweet_id': '7.10E+17'}, 'count': 63}
{'_id': {'tweet_id': '7.91E+17'}, 'count': 40}
{'_id': {'tweet_id': '7.06E+17'}, 'count': 39}
{'_id': {'tweet_id': '7.58E+17'}, 'count': 56}
{'_id': {'tweet_id': '7.02E+17'}, 'count': 57}

In [34]:
result = collection.aggregate([{
    '$group': {
        '_id' : {
            'tweet_id' : '$tweet_id'
        },
        'count' : {
            '$sum' : 1
        }
    }
    
}])

for item in result:
    print (item)
    break

{'_id': {'tweet_id': '6.22E+17'}, 'count': 88}

In [36]:
result = collection.aggregate([{
    '$sortByCount': '$timestamp'
}])

for item in result:
    print (item)
    break

{'_id': datetime.datetime(2016, 1, 14, 5, 45, 41), 'count': 2}

In [53]:
result = collection.aggregate([
    {
        '$group': {
            '_id' : {
                'timestamp' : '$timestamp',
                'count' : {
                    '$sum' : 1
                }
            }
        }
    },
    {
        '$sort' : { 'count' : -1}
        
    }
])

for item in result:
    print (item)
    break

{'_id': {'timestamp': datetime.datetime(2015, 7, 16, 9, 44, 7), 'count': 1}}

In [61]:
result = collection.aggregate([{
    '$group': {
        '_id' : {
            'date' : {'$dateToString' : {'format' : '%Y-%m-%d', 'date' : '$timestamp' }}
        },
        'count' : {
            '$sum' : 1
        }
    }
    
}])

for item in result:
    print (item)
    break

{'_id': {'date': '2015-07-16'}, 'count': 39}

In [13]:
result = collection.aggregate([
    {
        '$group': {
            '_id' : {
                'date' : {'$dateToString' : {'format' : '%Y-%m-%d', 'date' : '$timestamp' }}
            },
            'count' : {
                '$sum' : 1
            }
        }    
    },
    {
        '$sort' : { 'count' : -1}
    },
    {
        '$limit' : 1
    }
])

#print (next(result))
for item in result:
    print (item['_id']['date'])
    #break

2016-10-20